<h2 class="titulo">Arrays</h2>

<h3 class="sub-titulo">Stop</h3>
<p class="parrafo">Ingresar mediante prompt números indefinidamente hasta que el usuario ingrese “Stop”.</p>
<p class="parrafo">Almacenar todos los datos en un array y mostrarlos al final.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Dividir arrays</h3>
<p class="parrafo">Ingresar mediante prompt números hasta el ingreso de un 0.</p>
<p class="parrafo">Crear un array para los números pares, otro para los impares y un tercero para almacenar datos no numéricos.</p>
<p class="parrafo">Mostrar los resultados al finalizar el ciclo.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Array, función y excepción</h3>
<p class="parrafo">Crear una función que reciba como parámetro un array y que nos retorno el número más alto que contiene</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>
<div class="botones">
    <a class="boton" [routerLink]="['/c7']">Regresar</a>
    <a class="boton" [routerLink]="['/c9']">Siguiente</a>
</div>