<div class="padre">
    <nav class="nav">
        <a class="nav__elemento">Home</a>
        <a class="nav__elemento">Modulo 1</a>
        <a class="nav__elemento">Modulo 2</a>
        <a class="nav__elemento">Modulo 3</a>
        <a class="nav__elemento">Modulo 4</a>
        <a class="nav__elemento">Modulo 5</a>
        <a class="nav__elemento">Modulo 6</a>
        <a class="nav__elemento">Modulo 7</a>
        <a class="nav__elemento">Modulo 8</a>
        <a class="nav__elemento">Modulo 9</a>
        <a class="nav__elemento">Modulo 10</a>
    </nav>
</div>