<div class="padre">
    <nav class="nav">
        <a class="nav__elemento" [routerLink]="['home']" routerLinkActive="router-link-active">Home</a>
        <a class="nav__elemento" [routerLink]="['c1']" routerLinkActive="router-link-active">Modulo 1</a>
        <a class="nav__elemento" [routerLink]="['c2']" routerLinkActive="router-link-active">Modulo 2</a>
        <a class="nav__elemento" [routerLink]="['c3']" routerLinkActive="router-link-active">Modulo 3</a>
        <a class="nav__elemento" [routerLink]="['c4']" routerLinkActive="router-link-active">Modulo 4</a>
        <a class="nav__elemento" [routerLink]="['c5']" routerLinkActive="router-link-active">Modulo 5</a>
        <a class="nav__elemento" [routerLink]="['c6']" routerLinkActive="router-link-active">Modulo 6</a>
        <a class="nav__elemento" [routerLink]="['c7']" routerLinkActive="router-link-active">Modulo 7</a>
        <a class="nav__elemento" [routerLink]="['c8']" routerLinkActive="router-link-active">Modulo 8</a>
        <a class="nav__elemento" [routerLink]="['c9']" routerLinkActive="router-link-active">Modulo 9</a>
        <a class="nav__elemento" [routerLink]="['c10']" routerLinkActive="router-link-active">Modulo 10</a>
    </nav>
</div>