<h2 class="titulo">Operaciones Logicas</h2>

<h3 class="sub-titulo">Numeros Pares</h3>
<p class="parrafo">El usuario ingresará un número y le especificaremos si el número ingresado es par o impar.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Votantes</h3>
<p class="parrafo">Obtener la edad de un votante e indicarle si tiene permitido votar.</p>
<p class="parrafo">Las personas mayores de 18 años votan</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Contraseña</h3>
<p class="parrafo">Un usuario intenta ingresar a nuestro sistema. Le solicitaremos el usuario y contraseña.</p>
<p class="parrafo">Definiremos una contraseña y ante el ingreso del usuario definiremos si la ha ingresado correctamente.</p>
<p class="parrafo">Mostrar un mensaje a la salida según el caso.
</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Resultado De Una Division</h3>
<p class="parrafo">Pedir dos números a un usuario para realizar una división.
</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Hora De La Reunion</h3>
<p class="parrafo">El usuario debe ingresar la hora de comienzo y de finalización de una reunión.</p>
<p class="parrafo">Si la hora de comienzo es mayor o igual a la de finalización, mostrar un error, de lo contrario indicar que la información se guardó correctamente.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>