<h2 class="titulo">Objetos</h2>

<h3 class="sub-titulo">Primer Objeto</h3>
<p class="parrafo">Crear un objeto llamado “user” que permite almacenar nombre, apellido, email de una persona.</p>
<p class="parrafo">
    <p class="parrafo">Crear un objeto llamado “user” que permite almacenar nombre, apellido, email de una persona.</p>
    <h3 class="parrafo-respuesta">Respuesta:</h3>
    <pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
    <button class="boton--ejecutar">Ejecutar</button>

    <h3 class="sub-titulo">Primera clase</h3>
    <p class="parrafo">Crear una clase users para contener nombre, apellido, email y edad de un usuario.</p>
    <p class="parrafo">Crear un objeto a partir de esta clase y completar los datos.</p>
    <h3 class="parrafo-respuesta">Respuesta:</h3>
    <pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
    <button class="boton--ejecutar">Ejecutar</button>

    <h3 class="sub-titulo">Primeros métodos</h3>
    <p class="parrafo">A la clase users agregar los siguientes métodos:</p>
    <p class="parrafo">is_adult() que devuelva true / false dependiendo si es mayor de 18 años. get_full_name() que retorne el nombre y apellido concatenados.</p>
    <h3 class="parrafo-respuesta">Respuesta:</h3>
    <pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
    <button class="boton--ejecutar">Ejecutar</button>

    <h3 class="sub-titulo">Array como base de datos</h3>
    <p class="parrafo">Crear un modelo que permita almacenar diferentes perros. Cada perro debe guardar la siguiente información:</p>
    <p class="parrafo">Raza Nombre Peso Edad
    </p>
    <h3 class="parrafo-respuesta">Respuesta:</h3>
    <pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
    <button class="boton--ejecutar">Ejecutar</button>
    <div class="botones">
        <a class="boton" [routerLink]="['/c8']">Regresar</a>
        <a class="boton" [routerLink]="['/c10']">Siguiente</a>
    </div>