<h2 class="titulo">Mi Primer Script</h2>

<h3 class="sub-titulo">Vamos a crear nuestro primer script</h3>
<p class="parrafo">Utilizaremos la función alert(), que nos provee el navegador para mostrar mensajes en pantalla, por fuera del Documento HTML.</p>
<p class="parrafo">Escribiremos el mensaje “Hola mundo!” para mostrarlo en pantalla.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Utilizando La Consola</h3>
<p class="parrafo">Por otro lado, vamos a utilizar la función console.log().</p>
<p class="parrafo">Escribiremos el mensaje “Hola mundo!” para mostrarlo en pantalla.Vamos a escribir el mismo mensaje del paso anterior, pero con una diferencia:</p>
<p class="parrafo">El mensaje se visualizará en la consola del navegador.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>
<div class="botones">
    <a class="boton" [routerLink]="['/c1']">Regresar</a>
    <a class="boton" [routerLink]="['/c3']">Siguiente</a>
</div>