<h2 class="titulo">Pseudocódigo y diagramas de flujo</h2>

<h3 class="sub-titulo">Usuario y contraseña</h3>
<p class="parrafo">Solicitar al usuario usuario y contraseña para ingresar a un sistema mediante prompt.</p>
<p class="parrafo">Crear una función para validar que que las credenciales ingresadas sean válidas.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Diámetro del círculo</h3>
<p class="parrafo">Solicitar al usuario el valor del radio de un círculo y calcular su diámetro</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Mirar las diapositivas</h3>
<p class="parrafo">Mirar las diapositivas</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Mirar las diapositivas</h3>
<p class="parrafo">Mirar las diapositivas</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>
<div class="botones">
    <a class="boton" [routerLink]="['/c6']">Regresar</a>
    <a class="boton" [routerLink]="['/c8']">Siguiente</a>
</div>