<h2 class="titulo">Programar promesas</h2>

<h3 class="sub-titulo">Promesa #1</h3>
<p class="parrafo">Realiza una promesa y que luego de 2 segundos se resuelva de manera exitosa.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Promesa #2</h3>
<p class="parrafo">Realiza una promesa y que luego de 1 segundo sea rechazada.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Promesa #3</h3>
<p class="parrafo">Realiza una promesa que sea aceptada o rechazada según el siguiente enunciado:</p>
<p class="parrafo">Generar un número random entre 0 y 100, si el número es par la promesa debe ser exitosa si es impar debe ser rechazada</p>
<p class="parrafo">Mostrar el número random en la respuesta</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Carrera de promesas</h3>
<p class="parrafo">Generar 2 promesas. Cada una debe demorar en responder, como máximo, un segundo, pero los tiempos de ejecución deben ser aleatorios.</p>
<p class="parrafo">Capturar la primera promesa que finalice y mostrar el tiempo de ejecución</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Cadena de promesas</h3>
<p class="parrafo">Ingresar un mediante un prompt un número.</p>
<p class="parrafo">Mediante una cadena de promesas mostrar el resultado de las siguientes operaciones matemáticas en orden:</p>
<p class="parrafo">Sumarlo por sí mismo El cuadrado del número La raíz cuadrada El factorial</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>
<div class="botones">
    <a class="boton" [routerLink]="['/c9']">Regresar</a>
</div>