<h2 class="titulo">Programación Con Variables y Estructuras De Control De Flujos</h2>

<h3 class="sub-titulo">perimetro</h3>
<p class="parrafo">Solicitar al usuario que ingrese el lado de un cuadrado. Calcular e informar el perímetro del cuadrado.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Superficie</h3>
<p class="parrafo">Solicitar al usuario que ingrese los lados de un rectángulo. Informar la superficie del rectángulo.
</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">¿Qué triángulo es?</h3>
<p class="parrafo">Solicitar al usuario que ingrese los 3 lados de un triángulo.</p>
<p class="parrafo">Informar si es equilátero, isósceles o escaleno.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Sueldo</h3>
<p class="parrafo">Solicitar al usuario el valor de su hora, horas trabajadas en el mes y horas extras.
    <p class="parrafo">Calcular el sueldo sabiendo que el valor de la hora extra es un 50% más que la hora común.</p>
    <h3 class="parrafo-respuesta">Respuesta:</h3>
    <pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
    <button class="boton--ejecutar">Ejecutar</button>

    <h3 class="sub-titulo">Factorial</h3>
    <p class="parrafo">Solicitar al usuario que ingrese infinitos números hasta el ingreso de un cero.</p>
    <p class="parrafo">A cada número ingresado calcular su factorial.</p>
    <h3 class="parrafo-respuesta">Respuesta:</h3>
    <pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
    <button class="boton--ejecutar">Ejecutar</button>

    <h3 class="sub-titulo">Mayor y menor</h3>
    <p class="parrafo">Solicitar al usuario que ingrese infinitos números hasta el ingreso de un cero.</p>
    <p class="parrafo">Al finalizar el ciclo mostrar cúal fue el mayor número ingresado y también el menor.</p>
    <h3 class="parrafo-respuesta">Respuesta:</h3>
    <pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
    <button class="boton--ejecutar">Ejecutar</button>