.titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 3rem;
    text-align: center;
}

.sub-titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 1.3em;
}

.parrafo {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 1.3em;
}

.parrafo-respuesta {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 1.3em;
}

pre {
    width: 100%;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    color: #868585;
    padding: 1em;
    border-style: none none none solid;
    border-color: #6aa4c8;
    margin-bottom: 1em;
}

.boton--ejecutar {
    padding: 0.5em 1em;
    border: 1px solid #6aa4c8;
    background-color: #bcbcbc;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-bottom: 2em;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.boton {
    width: auto;
    padding: 0.5em 1.3em;
    background-color: #bcbcbc;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
}