<h2 class="titulo">Programación Con Variables y Estructuras De Control De Flujos</h2>

<h3 class="sub-titulo">Sumemos</h3>
<p class="parrafo">Crear un script que permita ingresar solamente 5 valores mediante prompt y nos muestre la suma total de todos los valores ingresados</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Promedio</h3>
<p class="parrafo">A nuestro script agreguemos el promedio de todos los números ingresados.</p>
<p class="parrafo">Las personas mayores de 18 años votan</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Edades</h3>
<p class="parrafo">Ingresar N cantidad de edades mediante prompt hasta que se ingrese un cero. Al finalizar mostrar cuántos son mayores de edad</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Promedio condicional</h3>
<p class="parrafo">Ingresar N cantidad de números mediante prompt. Mostrar el promedio de los números ingresados de 1 dígito.Terminar el programa con la palabra “salir”.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Pares e impares</h3>
<p class="parrafo">Ingresar N cantidad de números mediante prompt. Mostrar quién tuvo más ingresos, si los pares o los impares Terminar el programa un 0.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">De números a letras</h3>
<p class="parrafo">Ingresa un número entre 1 y 10 mediante prompt y transformarlo en su equivalente en el abecedario. Siendo 1 = a y 10 = j cualquier otro valor mostrar un mensaje de error.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>