<h2 class="titulo">Expresiones</h2>

<h3 class="sub-titulo">Suma</h3>
<p class="parrafo">Obtener el valor de una suma a partir de dos números ingresados por el usuario.</p>
<p class="parrafo">Una vez obtenida la suma, mostrar el resultado a través de un mensaje.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Promedio</h3>
<p class="parrafo">Obtener el valor de un promedio a partir del ingreso de cinco números.</p>
<p class="parrafo">Una vez obtenido el valor, mostrar el resultado a través de un mensaje.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Perimetro</h3>
<p class="parrafo">Pediremos al usuario que ingrese el valor del diámetro de un círculo.</p>
<p class="parrafo">A partir de ese valor, calcularemos su perímetro.</p>
<p class="parrafo">Por último, mostraremos su resultado al usuario.
</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Superficie</h3>
<p class="parrafo">Pediremos al usuario que ingrese el valor del diámetro de un círculo.</p>
<p class="parrafo">A partir de ese valor, calcularemos su superficie.</p>
<p class="parrafo">Por último, mostraremos su resultado al usuario.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>

<h3 class="sub-titulo">Datos Completos</h3>
<p class="parrafo">Al igual que en los pasos anteriores, pediremos al usuario el nombre, el apellido y también su edad.</p>
<p class="parrafo">Mostraremos a la salida el resultado:</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>
<button class="boton--ejecutar">Ejecutar</button>
<div class="botones">
    <a class="boton" [routerLink]="['/c2']">Regresar</a>
    <a class="boton" [routerLink]="['/c4']">Siguiente</a>
</div>