<h2 class="titulo">Ejercitando La Logica</h2>
<h3 class="sub-titulo">Seis Amigos De Vacaciones</h3>
<p class="parrafo">Seis amigos desean pasar sus vacaciones juntos y deciden, cada dos, utilizar diferentes medios de transporte; sabemos que Alejandro no utiliza el coche ya que éste acompaña a Benito que no va en avión. Andrés viaja en avión.</p>
<p class="parrafo">Si Carlos no va acompañado de Darío ni hace uso del avión, ¿podría ud. decirnos en qué medio de transporte llega a su destino Tomás?</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>

<h3 class="sub-titulo">Serpientes Marinas</h3>
<p class="parrafo">Un capitán en el Caribe fue rodeado por un grupo de serpientes marinas, muchas de las cuales eran ciegas. Tres no veían con los ojos a estribor, 3 no veían nada a babor, 3 podían ver a estribor, 3 a babor, 3 podían ver tanto a estribor como a babor, entanto
    que otras 3 tenían ambos ojos arruinados.</p>
<p class="parrafo">¿Cuál es el mínimo número de serpientes necesarias para que con ellas se den todas esas circunstancias?</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>

<h3 class="sub-titulo">Caballos</h3>
<p class="parrafo">El caballo de Mac es más oscuro que el de Smith, pero más rápido y más viejo que el de Jack, que es aún más lento que el de Willy, que es más joven que el de Mac, que es más viejo que el de Smith, que es más claro que el de Willy, aunque el de Jack es
    más lento y más oscuro que el de Smith.</p>
<p class="parrafo">¿Cuál es el más viejo, cuál el más lento y cuál el más claro?</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>

<h3 class="sub-titulo">El Explorador Condenado</h3>
<p class="parrafo">Un explorador cayó en manos de una tribu de indígenas, se le propuso la elección entre morir en la hoguera o envenenado. Para ello, el condenado debía pronunciar una frase tal que, si era cierta, moriría envenenado, y si era falsa, moriría en la hoguera.</p>
<p class="parrafo">¿Cómo escapó el condenado a su funesta suerte?</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>

<h3 class="sub-titulo">El Condenado A Muerte</h3>
<p class="parrafo">En los tiempos de la antigüedad la gracia o el castigo se dejaban frecuentemente al azar. Así, éste es el caso de un reo al que un sultán decidió que se salvase o muriese sacando al azar una papeleta de entre dos posibles: una con la sentencia "muerte",
    la otra con la palabra "vida", indicando gracia. Lo malo es que el Gran Visir, que deseaba que el acusado muriese, hizo que en las dos papeletas se escribiese la palabra "muerte". </p>
<p class="parrafo">¿Cómo se las arregló el reo, enterado de la trama del Gran Visir, para estar seguro de salvarse? Al reo no le estaba permitido hablar y descubrir así el enredo del Visir.</p>
<h3 class="parrafo-respuesta">Respuesta:</h3>
<pre>en esta etiqueta
va la respuesta de la pregunta
:v
</pre>